{% extends "base.html" %}

{% block disqus %}
  <script src="https://giscus.app/client.js"
          data-repo="shenhao-stu/WiKi-for-Sufe-Courses"
          data-repo-id="R_kgDOGc2uig"
          data-category="General"
          data-category-id="DIC_kwDOGc2uis4CAEWE"
          data-mapping="pathname"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-theme="light"
          data-lang="zh-CN"
          crossorigin="anonymous"
          async>
  </script>
{% endblock %}