site_name: 上海财经大学 Courses Wiki

theme:
  name: material
  custom_dir: overrides

repo_url: https://github.com/shenhao-stu/WiKi-for-Sufe-Courses

markdown_extensions:
  - def_list
  - pymdownx.tasklist:
        custom_checkbox: true

plugins:
  - search:
      lang:
        - en
        - ja

extra:
  disqus: 'sufer'